header {
  padding-left: 20px;
  border: solid black;
  background-color: #FFB4B0;
}

nav li {
  display: inline-block;
}

#options-and-names-container {
  margin: 1em;
}

#song-options-panel {
  
   border: solid black;
   background-color: #4DD7FA;
   padding: 20px 0 20px 25px;
   margin-top: 1em;
   max-width: 30%;
}

.genres li {
  display: inline-block;
}


#filter-button {
  margin-top: 10px;
  float: center;
}

#song-names-panel {
  
  text-align: justify;
  border: solid black;
  background-color: #FEFAC0;
  margin-top: 1em;
  padding-left: 20px;
  max-width: 40%; 
 
}




